{% extends "base.html" %}

{% block navi %}
    <li class="nav-item"><a href="{{ url_for('index') }}" class="nav-link">Карта</a></li>
    <li class="nav-item"><a href="{{ url_for('about') }}" class="nav-link active" aria-current="page">О проекте</a></li>
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <h1>Почему?</h1>
        <p>Мы - группа энтузиастов, возмущенная неправомерным вручением повесток и нарушениями законов, а также пустой тратой наших налогов.</p>
        <p>Если мы идем в Европу, тогда ВСЕ должны соблюдать Законы и Закон должен быть равен для всех:</p>
        <ul>
            <li>вручать повестки согласно законодательству;</li>
            <li>вручать повестки детям чиновников и депутатов;</li>
            <li>чиновники, депутаты и их дети тоже ДОЛЖНЫ идти служить НА ПЕРЕДОВОЙ;</li>
            <li>...</li>
        </ul>
        <h2>О проекте</h2>
        <p>Еще текст</p>
    </div>
{% endblock %}