{% extends "base.html" %}

{% block navi %}
    <li class="nav-item"><a href="{{ url_for('index') }}" class="nav-link">Карта</a></li>
    <li class="nav-item"><a href="{{ url_for('about') }}" class="nav-link active" aria-current="page">О проекте</a></li>
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <h1 class="h2">Почему?</h1>
        <p>В Украине введено военное положение из-за полномасштабного нападения россии. Объявлена мобилизация.</p>
        <p>Вы тоже возмущены неправомерным вручением повесток и систематическими нарушениями Законов, а также пустой тратой наших налогов?</p>
        <p>Если мы идем в Европу, тогда ВСЕ должны соблюдать Законы и Закон должен быть равен для всех:</p>
        <ul>
            <li>вручать повестки согласно законодательству;</li>
            <li>вручать повестки детям чиновников и депутатов;</li>
            <li>чиновники, депутаты и их дети тоже ДОЛЖНЫ идти служить НА ПЕРЕДОВОЙ;</li>
            <li>этот список можно продолжать бесконечно...</li>
        </ul>
        <h2 class="h3">О проекте</h2>
        <p><strong>Доступ к сайту имеется только с украинских IP-адресов, все остальные - блокируются.
            На сайте нет никаких трекеров, личные данные пользователей не собираются!</strong></p>
        <p>На карте вы отмечаете только:</p>
        <ul>
            <li>(красным) координаты места по факту нарушения законодательства Украины должностными лицами,</li>
            <li>(зеленым) координаты места, где было нарушение законодательства Украины, но нарушители покинули его.</li>
        </ul>
        <p>К метке добавляется время правонарушения. Метка - это цветной круг отображающий ПРИБЛИЗИТЕЛЬНОЕ
            местоположение правонарушителей на момент его совершения. Т.к. у нарушителей есть конечности и они могут
        передвигаться и бояться ответственности за содеянное, уже через несколько секунд их может там не быть.</p>
        <p>По факту пользования сайтом, любой гражданин Украины (а при использовании VPN, вообще гражданин любой страны)
            может добавить метку, следовательно, ответственность за достоверность несет пользователь.
            Поэтому, информация на данном сайте не является достоверной и несет развлекательный характер.</p>
        <p>Каждый день карта обновляется, устаревшие метки повторно не отображаются. Все совпадения считать случайными!</p>
        <p><strong>Мы победим!</strong></p>
    </div>
{% endblock %}