{% extends "base.html" %}

{% block navi %}
    <li class="nav-item"><a href="{{ url_for('index') }}" class="nav-link">Карта</a></li>
    <li class="nav-item"><a href="{{ url_for('about') }}" class="nav-link active" aria-current="page">О проекте</a></li>
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <h1>Почему?</h1>
        <p>В Украине введено военное положение из-за полномасштабного нападения россии. Объявлена мобилизация.</p>
        <p>Вы тоже возмущены неправомерным вручением повесток и систематическими нарушениями Законов, а также пустой тратой наших налогов?</p>
        <p>Если мы идем в Европу, тогда ВСЕ должны соблюдать Законы и Закон должен быть равен для всех:</p>
        <ul>
            <li>вручать повестки согласно законодательству;</li>
            <li>вручать повестки детям чиновников и депутатов;</li>
            <li>чиновники, депутаты и их дети тоже ДОЛЖНЫ идти служить НА ПЕРЕДОВОЙ;</li>
            <li>этот список можно продолжать бесконечно...</li>
        </ul>
        <h2>О проекте</h2>
        <p>Мы НЕ собираем личные данные пользователей!</p>
        <p>На карте вы отмечаете только:</p>
        <ul>
            <li>(красным) координаты места по факту нарушения законодательства Украины должностными лицами,</li>
            <li>(зеленым) координаты места, где было нарушение законодательства Украины, но нарушители покинули его.</li>
        </ul>
        <p>К метке добавляется время нарушения.</p>
        <p>Каждый день карта обновляется, устаревшие метки повторно не отображаются.</p>
    </div>
{% endblock %}