<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Интерактивная карта в реальном времени нарушения законодательства вручения повесток по всей Украине">
    <meta name="keywords" content="повестка, вручение, вручают, карта, выдают, выдача, повесток">

      {% block head %}
        <title>Карта вручения повесток в Украине с нарушениями законодательства</title>
      {% endblock %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  </head>
  <body>
  <div class="container border-bottom" style="margin-bottom: 20px">
      <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills justify-content-center">
          {% block navi %}
              <li class="nav-item"><a href="{{ url_for('main.index') }}" class="nav-link">Карта сегодня</a></li>
              <li class="nav-item"><a href="{{ url_for('main.index', date=yesterday) }}" class="nav-link" aria-current="page">< {{ yesterday_ua_format }}</a></li>
              <li class="nav-item"><a href="{{ url_for('main.index', date=current_date) }}" class="nav-link active" aria-current="page">Карта на {{ current_date_ua_format }}</a></li>
            {% if current_date < today %}
              <li class="nav-item"><a href="{{ url_for('main.index', date=next_day) }}" class="nav-link" aria-current="page">{{ next_day_ua_format }} ></a></li>
            {% endif %}
              <li class="nav-item"><a href="{{ url_for('main.about') }}" class="nav-link">О проекте</a></li>
          {% endblock %}
        </ul>
      </header>
    </div>

  <div class="container text-left">
      <div class="row">
        <h1 class="h2 text-center">Карта незаконного вручения повесток в Украине</h1>
          {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                      {{ message }}
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Закрыть"></button>
                    </div>
                {% endfor %}
            {% endif %}
          {% endwith %}
      </div>

      <div class="row">
          {% block content %}
          {% endblock %}
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html>