{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-sm-3">
            <h1 class="h4">Добавить место вручения</h1>
            <p>Незаконно вручили повестку или стали свидетелем? Добавьте место на карту!</p>
            <form method="POST" action="" enctype="multipart/form-data">
                {{ form.csrf_token() }}
                <div class="form-group">
                    {{ form.coordinates.label(class="form-control-label") }}
                    {{ form.coordinates(class="form-control") }}
                    {% if form.coordinates.errors %}
                        {% for error in form.coordinates.errors %}
                            <p><span class="text-danger">{{ error }}</span></p>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.color.label(class="form-control-label") }}
                    {{ form.color(class="form-control") }}
                    {% if form.color.errors %}
                        {% for error in form.color.errors %}
                            <p><span class="text-danger">{{ error }}</span></p>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.comment.label(class="form-control-label") }}
                    {{ form.comment(class="form-control") }}
                    {% if form.comment.errors %}
                        {% for error in form.comment.errors %}
                            <p><span class="text-danger">{{ error }}</span></p>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group">
                    <p>{{ form.submit(class="btn btn-primary") }}</p>
                </div>
                <div class="form-group">
                    <p>Метки на карте <strong>обновляются один раз в минуту</strong> для экономии ресурсов сервера.</p>
                    <p>Координаты можно взять из:</p>
                        <ul>
                            <li>клик на карте сайта -> копируете текст из всплывающего окна,</li>
                            <li>Google карты,</li>
                            <li>навигатор,</li>
                            <li>и т.п.</li>
                        </ul>
                </div>
            </form>
        </div>

        <div class="col-sm-9">{{ maps | safe }}</div>
    </div>
{% endblock %}
